parameters:
	level: 4
	paths:
		- src
		- tests
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#^Access to an uninitialized readonly property#'
		- '#^Class (?:\\{1,2}\w+|\w+\\{1,2})(?:\w+\\{0,2}\w+) has an uninitialized readonly property#'
		- '#^Readonly property (?:\\{1,2}\w+|\w+\\{1,2})(?:\w+\\{0,2}\w+)::\$([a-zA-Z_\x7f-\xff][a-zA-Z0-9_\x7f-\xff]*) is assigned outside of the constructor\.#'